

<div class="white-space"></div>
<div>
 <p class="footer">
     Footer for clucks
</p> 
     
</div>

</div>
<script>
    <link rel="js" href="./js/friendlyDate.js"> </link>
</script>
</body>

</html>