@import url("reset.css");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* background: paleturquoise; */
  font-size: 3em;
  padding: 0.25em 0.5em;
  color: slategray;
}

img {
  max-width: 100%;
}
h3 {
  font-size: 1.25em;
}
.input-text {
  font-size: 1em;
  margin: 0.25em;
  width: 96%;
  padding: 0.5em;
  border: 3px solid slategray;
  border-radius: 10px;
  background: transparent;
}
.input-btn {
  font-size: 1em;
  margin: 0.25em;
  align-self: flex-end;
  min-width: 250px;
  padding: 0.5em 3em;
  background: transparent;
  border: 3px solid slategray;
  border-radius: 10px;
}
.input-btn:hover {
  background: slategray;
  color: white;
}
.navbar {
  padding: 0.25em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 150px;
  font-size: 1em;
}
.nav-link {
  font-size: 1em;
  background: gray;
  color: aliceblue;
  border-radius: 10px;
  height: 100px;
}
.a-btn {
  align-self: center;
  border: none;
  text-decoration: none;
  color: aliceblue;
  padding: 0 0.5em;
}
.nav-link:hover {
  background: slateblue;
}
.btn {
  font-size: 0.8em;
  border: none;
  background: transparent;
  color: aliceblue;
}

.icon {
  flex: 1;
}
.border {
  border: 3px solid slategray;
  border-radius: 10px;
  padding: 0.5em 0.15em;
}
.bottom-border {
  border-bottom: 3px solid slategray;
}
.flex-box {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.flex-between {
  justify-content: space-between;
}
.white-space {
  height: 60px;
}
.card {
  width: 90%;
  margin: 0.5em auto;
}
.hero-icon {
  width: 100px;
  height: 100px;
}
.url-image {
  max-width: 75%;
  margin: 0.5em auto;
}
.header-icon {
  width: 125px;
  /* height: 100px; */
}
.centre-text {
  /* color: red */
  align-self: center;
  padding: 0 0.5em;
  margin-bottom: 25px;
}
.p-margin {
  margin-top: 10px;
}
.li-flex {
  display: flex;
  align-content: center;
}
a-icon {
  text-decoration: none;
  border: none;
}
a-icon:hover {
  background: slateblue;
}
.margin {
  margin-right: 10px;
}
.footer {
  font-size: 0.8em;
  color: gray;
  text-align: right;
}

@media (min-width: 1024px) {
  body {
    font-size: 1em;
  }
  h3 {
    font-size: 2em;
  }

  .nav-link {
    margin-top: 2em;
    height: 50px;
  }
  .centre-text {
    /* color: red */
    align-self: flex-start;
    padding: 2.5em 2em;
  }
  .p-margin {
    font-size: 1.5em;
    margin-top: 5px;
  }
  .a-btn {
    min-width: 100px;
    text-align: center;
  }
}
